/*
*name   : markdown-editor
*layout : use css3 flex layout
*brower : ie10+ chrome firefox safari opera
*/

/***common color****/
@layout-boder:#ededed;
@layout-toolbar-bg:#ededed;
@layout-toolbar-icon-bg:#ddd;
@layout-toolbar-icon-border:#ccc;
@layout-toolbar-dividor-bg:#ddd;

/***layout***/
.wt-editor{
  width: 100%;
  height: 100%;
  border : 1px @layout-boder solid;
  margin: auto;
  display: flex;
  flex-direction: column;
  .wt-editor-toobar{
    padding: 5px 10px;
    background: @layout-toolbar-bg;
    .file-icon,.styling-icon,.heading-icon,.list-icon,.link-icon,.image-icon,.code-icon,.table-icon,.icon-icon,.math-icon,.mermaid-icon,.con-icon{
      padding: 5px;
      border: 1px solid transparent;
      &:hover{
        background-color: @layout-toolbar-icon-bg;
        border-color: @layout-toolbar-icon-border;
        cursor: pointer;
      }
    }
    .dividor {
      font-style: normal;
      color: @layout-toolbar-dividor-bg;
      margin: 0 5px;
    }
  }
  .wt-editor-container{
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .wt-editor-container-code{
    position: relative;
    flex: 1;
    overflow: auto;
    background: #f0ad4e;
    .wt-editor-panel {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .wt-editor-container-preview{
    flex: 1;
    overflow: auto;
  }
}
