/*
*name   : markdown-editor
*layout : use css3 flex layout
*brower : ie10+ chrome firefox safari opera
*/

/***common color****/
@layout-boder:#ededed;
@layout-toolbar-bg:#ededed;

/***layout***/
.markdown-editor{
  width: 100%;
  height: 600px;
  border : 1px @layout-boder solid;
  margin: auto;
  display: flex;
  flex-direction: column;
  .markdown-editor-toobar{
    height: 20px;
    background: @layout-toolbar-bg;
  }
  .markdown-editor-container{
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .markdown-editor-container-code{
    position: relative;
    flex: 1;
  }
  .markdown-editor-container-preview{
    flex: 1;
  }
}
